<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
  <label>
    Name:
    <input type="text" formControlName="Name" [(ngModel)]='data.name'>
  </label><br><br>
   <label>
    Email:
    <input type="text" formControlName="Email" [(ngModel)]='data.email'>
  </label><br><br>
  <label class>
  	Feedback<br><br>
  	<label>
    <input type="radio" formControlName="Feedback" [(ngModel)]='data.feedback' value="Great">
    Great<br>
  </label><br/>
  <label>
    <input type="radio" formControlName="Feedback" [(ngModel)]='data.feedback' value="Okay">
    Okay<br>
  </label><br/>
  <label>
    <input type="radio" formControlName="Feedback" [(ngModel)]='data.feedback' value="Not Good">
    Not Good
  </label><br/>
  </label>
  <br><br><label>
    Comments:
    <input type="text" formControlName="Comments"[(ngModel)]='data.comment' >
  </label><br><br>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<br>
<br>
<a>{{hello}}</a>